<ion-fab vertical="top" horizontal="start" slot="fixed">
  <ion-fab-button fill="clear" size="small" (click)="back()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-col size="12" size-sm="6" offset-sm="3" size-md="6" offset-md="3">
      <img class="image-logo" src="assets/imgs/logo.png" />
      <h3 class="ion-text-center">Recuperar <b>Minha Senha</b></h3>
      <ion-list class="ion-no-padding">
        <ion-item lines="full">
          <ion-label class="ion-text-center ion-text-wrap">
            <p>
              Digite seu endereço de e-mail e nós lhe enviaremos um e-mail para
              redefinir sua senha
            </p>
          </ion-label>
        </ion-item>
        <form
          class="forgot-password-form auth-form"
          [formGroup]="form"
          (ngSubmit)="recoverPassword()"
        >
          <ion-item>
            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
            ></ion-input>
          </ion-item>
          <ion-button
            expand="full"
            size="small"
            type="submit"
            [disabled]="!form.valid"
            >Recuperar senha</ion-button
          >
        </form>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
