// AUTH
.image-content {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}
.image-logo {
  height: 20vh;
  width: auto;
  margin: 10px auto;
  display: block;
}
.box-shadow {
  box-shadow: none !important;
}
.modal-invisible {
  .modal-wrapper {
    // background: transparent !important;
    --box-shadow: none;
    ion-content {
      --background: transparent;
    }
  }
}
.sc-ion-modal-md-h {
  --background: none;
}
.sc-ion-modal-ios-h {
  --background: none;
}
