// AUTH
.image-content {
  background-image: url('./assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;
}
.image-logo {
  height: 20vh;
  width: auto;
  margin: 10px auto;
  display: block;
}
