<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notificações</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="account"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="items$ | async as items">
    <ng-container *ngIf="items.length > 0; else noItems">
      <app-list-colrow
        *ngFor="let item of items"
        [item]="item"
        [isMenu]="false"
        [isUpdate]="false"
        [isUpload]="false"
        (delete)="delete($event)"
      >
        <ion-label class="ion-text-wrap">
          <ion-text>
            <h3>{{ item.title }}</h3>
          </ion-text>
        </ion-label>
      </app-list-colrow>
    </ng-container>
    <ng-template #noItems>
      <app-list-null
        title="Nenhuma Notificação recebida até o momento"
        icon="assets/icons/notification.svg"
      ></app-list-null>
    </ng-template>
  </div>
</ion-content>
